

/* Exporting module */
.highcharts-contextbutton {
  fill: #ffffff;
  stroke: none;
  stroke-linecap: round;
}

.highcharts-contextbutton:hover {
  fill: #e6e6e6;
  stroke: #e6e6e6;
}

.highcharts-button-symbol {
  stroke: #0B1E2D;
  stroke-width: 3px;
}

.highcharts-menu {
  border: 1px solid #0B1E2D;
  background: #ffffff;
  padding: 5px 0;
  box-shadow: 3px 3px 10px #888;
}

.highcharts-menu-item {
  padding: 0.5em 1em;
  background: none;
  color: #575757;
  cursor: pointer;
  transition: background 250ms, color 250ms;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.highcharts-menu-item:hover {
  background: #0297C9;
  color: #ffffff;
}