﻿.info-bullet {
    display: inline-block;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    border: none;
    background-color: #0297C9;
    border-radius: 8px;
    color:  #fff;
    font-style: normal;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    cursor: default;
}

.info-main {
    background-color: #fff;
    border: 1px solid #BAD3E2;
    color: #0B1E2D;
    border-radius: 5px;
    padding: 8px;
    font-style: normal;
    z-index: 99;
    max-width: 300px;
}

