﻿    body {
    margin: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #575757;
   /*background: repeating-linear-gradient( -45deg, #E9F2F6, #E9F2F6 10px, #fff 10px, #fff 20px );*/
}

h1.ip-title {
    font-size: 25px;
}

h1 {
    margin: 0px;
    padding: 0px 10px 2px 10px;
    font-family: Georgia,"Times New Roman",Times,serif;
    text-align: left;
    font-weight: bold;
    font-size: 1.7em;
    font-weight: bold;
    /*color: #0297C9;*/
    color: #006FB3;
}

.taxben-form .output-info {
    background-color: #DDE9EF;
    border: 1px solid #0B1E2D;
    color: #0B1E2D;
    padding: 8px;
    font-style: normal;
    width: 98%;
}

.taxben-form a {
    color: #006FB3;
}

    .taxben-form a:hover {
        color: #006FB3;
    }

.taxben-result-button,
.taxben-form input[type=button],
.taxben-result input[type=button] {
    display: table-cell;
    padding: 3px 0;
    max-width: 150px;
    /*border: 1px solid rgb(177, 177, 177);*/
    border: none;
    background-color: #006FB3;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    text-decoration: none;
    font: 400 13.3333px Arial;
}

.taxben-result-button:hover,
.taxben-form input[type=button]:hover,
.taxben-result input[type=button]:hover {
    text-decoration: underline;
    opacity: .9;
}

.taxben-form input[type=button].disabled, 
.taxben-form input[type=button].disabled:hover {
    text-decoration: none;
    background-color: rgb(177, 177, 177);
    cursor: default;
}

    .taxben-form input[type=button].run,
    .taxben-result input[type=button].run {
        background-color: #32A674;
        color: #fff;
        font-variant: small-caps;
    }


    .taxben-form input[type=button].reset,
    .taxben-result input[type=button].reset {
        border: 1px solid #006FB3;
        color: #006FB3;
        background-color: #fff;
    }

    .wizard-step:first-of-type .wizard-step-content {
    padding: 0;
}

 .readme {
        margin-top: 5px;
        overflow-y: auto;
        /*height: 520px;*/
        padding: 5px 12px;
        text-align: center;
}

.readme-title {
    width: 100%;
    text-align:center;
    margin-top:5px;
    margin-bottom:10px;
    font-size: large;
}

.readme-head {
    font-size: 14px;
}

.readme table
{
    width:100%;
}
.readme table td
{
    text-align:center;   
    width: 25%;
}
.readme table td img
{
    width: 55px;
}
.readme table td a
{
    text-decoration: none;
    color: inherit;
}

.taxben-form .credits
{
    position:absolute;
    width: 99%;
    text-align: left;
    font-size: x-small;
    bottom:0;
}

.taxben-form .obs {
    font-style: italic;
    font-weight: normal;
}

.taxben-form input[type="checkbox"], .taxben-form input[type="radio"] {
    vertical-align: middle;
}

.taxben-form .instep-buttons-container {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}


    .taxben-form .instep-buttons-container input[type=button] {
        display: inline-block;
        margin-top: 5px;
    }

.taxben-form label {
    font-weight: bold;
}

    .taxben-form label.disabled {
        color: rgb(177, 177, 177);
    }

.taxben-form .inline-list > div {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}

.taxben-form .filler {
    height: 0;
    margin: 0;
    padding: 0;
}

.taxben-form .list-commands {
    margin-top: -10px;
}

    .taxben-form .list-commands a {
        margin: 0px 8px;
    }

.taxben-form #start-button,
.taxben-form #summary-reset-button,
.taxben-form #summary-run-button {
    width: 120px;
    height: 34px;
    font-size: 22px;
    font-weight: bold;
    font-variant: small-caps;
    margin-top: -5px;
}

.taxben-form table.range {
    width: 480px;
}

    .taxben-form table.range td {
        border: none !important;
        padding: 0 !important;
        padding-bottom: 3px !important;
    }

        .taxben-form table.range td:nth-child(2n+1) {
            width: 20px !important;
        }


.taxben-form .step-1 {
    text-align: center;
    padding-top: 0;
}

    .taxben-form .step-1 h3 {
        margin-top: 0px;
    }

    .taxben-form .step-1 table {
        margin-top: -18px;
        width: 100%;
    }

        .taxben-form .step-1 table td {
            vertical-align: top;
            padding-top: 15px;
        }

    .taxben-form .step-1 img {
        height: 190px;
        width: 360px;
        /*-webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);*/
    }

        .taxben-form .step-1 img.legend {
        width: 100%;
        height: auto;
    }


.taxben-form .step-2 .country-list > div {
    width: 55px;
    margin-bottom: 6px;
}

    .taxben-form .step-2 .country-list > div img {
        max-width: 45px;
        max-height: 38px;
        /*-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);*/
        vertical-align: middle;
    }

.taxben-form .step-2 .year-list > div {
    width: 55px;
    margin-bottom: 6px;
}

.taxben-form .step-3 #familyChildren {
    width: 150px;
    margin-left: 4px;
}

.taxben-form .step-3 .child-age {
    margin-bottom: 10px;
}

.taxben-form .step-3 #adultsAge,
.taxben-form .step-3 .child-age,
.taxben-form .step-4 #adult1Earnings,
.taxben-form .step-4 #adult1Earnings-range,
.taxben-form .step-4 #adult2Earnings,
.taxben-form .step-4 #adult1WorkingTime,
.taxben-form .step-4 #adult2WorkingTime,
.taxben-form .step-4 #adult1SocialContribution,
.taxben-form .step-4 #monthsOutOfWork,
.taxben-form .step-4 #monthsOutOfWork-range {
    width: 480px;
    margin-left: 4px;
}

.taxben-form .step-5 #housingCosts,
.taxben-form .step-5 #monthsOfNewJob,
.taxben-form .step-5 #monthsOutOfWork2,
.taxben-form .step-5 #benefit-unemployment-earnings {
    width: 350px;
    margin-left: 4px;
}

.taxben-form .alert-error {
    position: absolute;
    z-index: 10;
    bottom: 6px;
    right: 10px;
    color: #E73741;
    display: none;
}

.taxben-form .step-4 .alert-age, .taxben-form .step-5 .alert-age {
    color: #E73741;
    margin-top: 3px;
    opacity: 0;
    font-size: 10px;
}

.taxben-form .step-4 .m2y, .taxben-form .step-5 .m2y {
    margin-top: 5px !important;
}

.taxben-form table.struct {
    width: 100%;
    border-spacing: 0;
    margin-top: 10px;
}
    /*.taxben-form table.struct tr:nth-child(2n) td {
   border: 1px solid #DDE9EF;
}*/
    .taxben-form table.struct td {
        vertical-align: top;
        padding: 5px 5px 5px 5px;
    }

        .taxben-form table.struct td.title {
            vertical-align: top;
            padding: 0;
        }

            .taxben-form table.struct td.title h3 {
                margin: 0;
            }

.taxben-form .part {
    width: 100%;
    border-bottom: 1px solid #0B1E2D;
}



.taxben-form table.struct td:first-child {
    border-right: 1px solid #DDE9EF;
}

.taxben-form table.struct td:nth-child(2n) div * {
    margin-top: 0px;
}

.taxben-form .step-4 table.struct td:first-child {
    width: 130px;
    border-right: 1px solid #DDE9EF;
}


.taxben-form .step-5 table.struct td:first-child {
    width: 50%;
    border-right: 1px solid #DDE9EF;
}

.taxben-form .step-5 table.struct td {
    height: 10px;
}

.taxben-form .step-5 table.struct td.title {
    height: 0;
}

.taxben-form #form-summary-container {
    margin-left: 30px;
    width: 95%;
    height: 490px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #DDE9EF;
}

.taxben-form #form-summary table {
    width: 100%;
}

    .taxben-form #form-summary table td {
        height: 15px;
    }

        .taxben-form #form-summary table td:nth-child(2n) {
            padding-left: 15px;
            padding-top: 4px;
            width: 170px;
        }


        .taxben-form #form-summary table td:nth-child(2n+1) {
            border-bottom: 1px dashed rgb(177, 177, 177);
            width: auto;
        }



/*Charts*/
#taxben-chart {
    border: 1px solid #006FB3;
    width: 750px;
    height: 525px;
    background-color: #fff;
}

    #taxben-chart .wait {
        width: 100%;
        text-align: center;
        line-height: 500px;
        font-weight: bold;
        font-size: 1.7em;
        font-weight: bold;
        color: #006FB3;
    }

        #taxben-chart .error {
        width: 100%;
        text-align: center;
        margin-top:27%;
        font-weight: bold;
        font-size: 1.7em;
        font-weight: bold;
        color: #E73741;
    }
        #taxben-chart .no-data {
        width: 100%;
        text-align: center;
        margin-top:27%;
        font-weight: bold;
        font-size: 1.7em;
        font-weight: bold;
        color: #38C2B2;
    }

        #taxben-chart .smaller {
            font-size: small;
        }

.taxben-result-button-container {
    width: 750px;
    margin-top: 5px;
    text-align:right;
}

.taxben-result-button-container .taxben-result-button,
.taxben-result-button-container input[type=button] {
    float: left;
    max-width: 200px;
    width: 200px;
    margin-right: 5px;
}

.taxben-result-button-container-top{
    display: none;
    width: 750px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 3px;
}

.taxben-result-button-container-top input[type=button]{
    max-width: 200px;
    margin-right: 5px;
}

.taxben-form input[type=button].multi,
.taxben-result input[type=button].multi {
    border: 1px solid #006FB3;
    color: #006FB3;
    background-color: #fff;
    padding: 3px 5px;
}

.taxben-form input[type=button].multi.active,
.taxben-result input[type=button].multi.active {
    background-color: #006FB3;
    color: #fff;
}

#adult1WhenEmployedRadioBtns label,
#adult2WhenEmployedRadioBtns label,
#adult1OutputWorkingTime label {
    font-size: 11px;
}

div[data-taxben-value="Amount"] div{
    padding-top: 3px;
}

#result-info-buttons
{
    width: 750px;
    clear: both;
}
#taxben-result-footnote {
    width: 750px;
    clear: both;
    text-align: center;
    padding: 3px 0;
}

.chart-country-flag {
    vertical-align: middle;
    margin-left: 20px;
}
.chart-country-flag img {
    width: 30px;
}

.benefit-options ul {
    list-style-type: none;
    padding: 0;
}

.benefit-options ul li { padding: 1px 0;}

#adult1OutputWorkingTime input[type=radio] + label,
#adult1WhenEmployedRadioBtns input[type=radio] + label,
#adult2WhenEmployedRadioBtns input[type=radio] + label,
#benefit-unemployment-form input[type=radio] + label,
#benefit-housing-form input[type=radio] + label {
    color: #acacac;
}

#adult1OutputWorkingTime input[type=radio]:checked + label,
#adult1WhenEmployedRadioBtns input[type=radio]:checked + label,
#adult2WhenEmployedRadioBtns input[type=radio]:checked + label,
#benefit-unemployment-form input[type=radio]:checked + label,
#benefit-housing-form input[type=radio]:checked + label {
    color: #575757;
}

div[data-taxben-value=Amount] label { font-size: 11px;}
div[data-taxben-value=Amount] select,
div[data-taxben-value=Amount] input {
    width: 110px;
    box-sizing: border-box;
}

.error { border-color: red;}
.nofollow { text-decoration: none; cursor:default;}