﻿

.wizard-path-container {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.wizard-path-table {
    width:100%;
    border-spacing: 0;
}

.wizard-path-step {
    text-align: center;
    height: 30px;
    vertical-align:middle;
    color: #fff;
    background-color: #006FB3;
    cursor: pointer;
}

.wizard-path-step:not(.active):hover {
    text-decoration: underline;
    opacity: .9;
}
.wizard-path-step:first-child {
    border-left: 1px solid #006FB3;
}

.wizard-path-step.active {
    text-align: center;
    height: 30px;
    vertical-align:middle;
    color: #006FB3;
    background-color: #fff;
    border-top: 1px solid #006FB3;
}

.wizard-path-step.last {
    background-color: #32A674; 
    color: #fff;
    width: 60px;
    font-variant: small-caps;
    font-weight: bold;
}

.wizard-path-step.last.active {
    background-color: #fff; 
    color: #32A674;
    border-right: 1px solid #006FB3;
}

.wizard-steps-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 30px - 60px);
    white-space: nowrap;
    overflow: hidden;
}

.wizard-buttons-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 60px;
}

.wizard-buttons-container table {
    width: 100%;
    height: 100%;
}


.wizard-buttons-container table td:first-child div {
    float: left;
    width: 105px;
}
.wizard-buttons-container table td:last-child div {
    float: right;
    width: 105px;
}

.wizard-buttons-container table input[type=button] {
    width: 100px;
    height: 25px;
}


.wizard-step {
    display: inline-flex;
    vertical-align:top;
}

.wizard-step-content {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    white-space: normal;
    text-align: justify;
}

.wizard-steps-container {
    border: 1px solid #006FB3;
    border-top: none;
}
.wizard-buttons-container input[type=button] {
    padding: 3px 12px;
    top: 9px;
    max-width: 200px;
}
